form{
    width: 200px;
    display: flex;
	margin: auto;
  flex-direction: column;
  justify-content: center;

}
.container {
  width: 30%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 4rem 7rem 5rem;
  border-style: outset;
  border-color: #00FA9A;
  border-width: 12px;
  border-radius: 10px;
}
